<!-- Including InstantSearch.js library and styling -->
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">

<script>
// Instanciating InstantSeatch.js with algolia credentials
const search = instantsearch({
    appId: '{{ site.algolia.application_id }}',
    indexName: '{{ site.algolia.index_name }}',
    apiKey: '{{ site.algolia.search_only_api_key }}'
});

var search_hits_element = document.getElementById("search-hits");
var search_searchbar_element = document.getElementById("search-searchbar");

var isHitsResultOpen = false;

const hitTemplate = function(hit) {

    if (!hit._highlightResult.content.matchedWords.length) {
        if (hit.__hitIndex != 0)
          return
        if (!isHitsResultOpen) {
          search_hits_element.className = "";
          console.log("ERoRR!!!!!!!!!!!!!");
        }
        else {
          console.log("HI!!!!!!!!!!!!!!!");
          console.log(hit);
          search_hits_element.className = "hits-result close";
          isHitsResultOpen = false;
        }
        return
    }

　　 search_hits_element.className = "hits-result open";
    isHitsResultOpen = true;

    let url = `{{ site.baseurl }}${hit.url}`;
    if (typeof hit.anchor != 'undefined')
      url += `#${hit.anchor}`;

    const title = hit._highlightResult.title.value;

    let breadcrumbs = '';
    if (hit._highlightResult.headings) {
        breadcrumbs = hit._highlightResult.headings.map(match => {
            return `<span class="post-breadcrumb">${match.value}</span>`
        }).join(' > ')
    }

    const content = hit._highlightResult.html.value;

    return `
      <div class="post-item">
        <a class="post-link" href="${url}">${title}</a>
        {{#breadcrumbs}}<a href="${url}" class="post-breadcrumbs">${breadcrumbs}</a>{{/breadcrumbs}}
        <div class="post-snippet">${content}</div>
      </div>
    `;
}

const notHitTemplate = function (hit) {
    return `<div class="no-hit-result">No results for "${hit.query}" in docs</div>`;
}

// Adding searchbar and results widgets
search.addWidget(
    instantsearch.widgets.searchBox({
        container: '#search-searchbar',
        placeholder: 'Search...',
        poweredBy: true // This is required if you're on the free Community plan
    })
);

search.addWidget(
    instantsearch.widgets.hits({
        container: '#search-hits',
        templates: {
            empty: notHitTemplate,
            item: hitTemplate
        }
    })
);

// Starting the search
search.start();
</script>

<style>
.ais-search-box {
  max-width: 100%;
  margin-bottom: 0px;
}
.ais-search-box--input {
  width: 168px;
  margin-left: 35px;
}
.post-item {
  margin-bottom: 30px;
}
.post-link .ais-Highlight {
  color: #111;
  font-style: normal;
  text-decoration: underline;
}
.post-breadcrumbs {
  color: #424242;
  display: block;
}
.post-breadcrumb {
  font-size: 18px;
  color: #424242;
}
.post-breadcrumb .ais-Highlight {
  font-weight: bold;
  font-style: normal;
}
.post-snippet .ais-Highlight {
  color: #2a7ae2;
  font-style: normal;
  font-weight: bold;
}
.post-snippet img {
  display: none;
}

.hits-result {
    background-color: whitesmoke;
    z-index: 20;
    position: fixed;
    font-size: 16px;
    top: 100px;
    bottom: 0px;
    right: -500px;

    width: 500px;
    height: 85vh;

    overflow-y: auto;
    transition: all .2s ease-in-out;
}
.hits-result.open {
     transform: translateX(-500px);
}
.hits-result.close {
    transform: translateX(500px);
}

.no-hit-result {
    font-size: 20px;
    color: #848ab8;
    margin-top: 20px;
    margin-left: 15px;
}

</style>

