<script>
  var baseurl = '{{ site.baseurl }}'
</script>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }} "></script>
<script src="{{ "/js/typeahead.bundle.min.js" | prepend: site.baseurl }} "></script>

<script src="{{ "/js/main.js" | prepend: site.baseurl }} "></script>

<script src="{{ "/js/algolia.js" | prepend: site.baseurl }} "></script>

<script src="{{ "/js/highlight/highlight.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/highlight/languages/extempore/extempore.js" | prepend: site.baseurl }}""></script>
<script>
    hljs.registerLanguage('extempore', window.hljsDefineExtempore);
    hljs.initHighlightingOnLoad();
</script>

<script src='{{ "/js/os-aware-modifiers.js" | prepend: site.baseurl }}' type="text/javascript"></script>
