<script>
  var baseurl = '{{ site.baseurl }}'
</script>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }} "></script>
<script src="{{ "/js/typeahead.bundle.min.js" | prepend: site.baseurl }} "></script>

<script src="{{ "/js/main.js" | prepend: site.baseurl }} "></script>

<script src="{{ "/js/algolia.js" | prepend: site.baseurl }} "></script>


<script src='{{ "/js/highlight.pack.js" | relative_url }}' type="text/javascript"></script>
<script src='{{ "/js/extempore.min.js" | relative_url }}' type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href='{{ "/css/atom-one-light.css" | relative_url }}'>

<script>
 hljs.highlightAll();
</script>

<script src='{{ "/js/os-aware-modifiers.js" | prepend: site.baseurl }}' type="text/javascript"></script>
