// main font stuff

body {
    font-size: 2em;
}

// a few niceties for lab/assignment content
$noteColour: #f1c40f;
$helpWantedColour: #3498db;
$futureC()olour: #1abc9c;
$deprecatedColour: #ff4ce8;
$extensionColour: #9b59b6;

@mixin lab-content-box ($heading, $colour){
    padding: 10px;

    &::before {
        background: $colour;
        color: #fff;
        padding-left: 1em;
        content: $heading;
        display: block;
        font-weight: 600;
        margin-bottom: 1em;
    }
}

.note-box {
    @include lab-content-box("note", $noteColour);
    background: lighten($noteColour, 25%);
}
.help-wanted-box {
    @include lab-content-box("help wanted", $helpWantedColour);
    background: lighten($helpWantedColour, 30%);
}
.future-box {
    @include lab-content-box("future plans", $futureC()olour);
    background: lighten($futureColour, 40%);
}
.deprecated-box {
    @include lab-content-box("deprecation warning", $deprecatedColour);
    background: lighten($deprecatedColour, 22%);
}
.extension-box {
    @include lab-content-box("extension", $extensionColour);
    background: lighten($extensionColour, 30%);
    border-color: $extensionColour;
}
