/*

xtlang style (c) Yuya Chiba <cy.blue.9@gmail.com>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f5f5f5;
}


/* Base color: saturation 0; */


.hljs,
.hljs-subst {
  color: #444;
}


.hljs-comment {
  color: #888888;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  /* font-weight: bold; */
  color: #eb32bc;
}


/* User color: hue: 0 */
.hljs-variable,
.hljs-template-variable, {
  color: #000000
}

.hljs-number {
  color: #49cee6;
}

.hljs-type {
  color: #005bbb;
}

.hljs-string {
  color: #4fb129;
}

.hljs-funciton {
  color: #b349dd;
}

.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #64ccde;
}

.hljs-title,
.hljs-section {
  color: #880000;
  /* font-weight: bold; */
}

.hljs-regexp,
.hljs-symbol,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}


/* Language color: hue: 90; */

.hljs-literal {
  color: #78A960;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
