<pre style="color: #f8f8f2; background-color: #282a36;">
  <span style="color: #86D7DB;">INFO:</span> starting utility process...
  <span style="color: #86D7DB;">INFO:</span> server: accepted new connection to utility process
  <span style="color: #86D7DB;">INFO:</span> client: connected to server utility process at localhost:7098
  <span style="color: #86D7DB;">INFO:</span> starting primary process...
  <span style="color: #86D7DB;">INFO:</span> server: accepted new connection to primary process
  <span style="color: #86D7DB;">INFO:</span> client: connected to server primary process at localhost:7099
Loading <span style="color: #63B4F6;">xtmbase</span><span style="color: #7E8A90;"> library... </span><span style="color: #ADCF44;">done</span><span style="color: #7E8A90;"> in 1.633086 seconds
</span><span style="color: #86D7DB;">INFO:</span> server: accepted new connection to primary process
"Hello, World!"
</pre>
