<pre style="color: #f8f8f2; background-color: #282a36;">
<span style="color: #7E8A90;">-----Available Audio Devices-----------------------------
</span>audio device[0]:DisplayPort api[0]:Core Audio inchan[0] outchan[2]
audio device[1]:Studio 24 api[0]:Core Audio inchan[2] outchan[2]
audio device[2]:HD Webcam C615 api[0]:Core Audio inchan[1] outchan[0]
audio device[3]:BlackHole 16ch api[0]:Core Audio inchan[16] outchan[16]
audio device[4]:MacBook Pro Microphone api[0]:Core Audio inchan[1] outchan[0]
audio device[5]:MacBook Pro Speakers api[0]:Core Audio inchan[0] outchan[2]
audio device[6]:ZoomAudioD api[0]:Core Audio inchan[2] outchan[2]
<span style="color: #7E8A90;">----------------------------------------------------------</span></pre>
